// 
// team.scss
// 

.team{
    .team-slider{
        .item{
            .card{
                background-color: $white;
                padding: 15px 15px;
                border-radius: 60px;
                border: 0;

                .profile-icon{
                    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    position: absolute;
                    transform: translateX(-100%)!important;
                    bottom: 0;
                    left: 100%;
                    text-align: center;
                    background: radial-gradient(100.04% 100.76% at 50.49% -0.76%, #6d3592 0%, #3a75eb 100%);
                }
            }
        }
    }

    .tns-controls{
        position: absolute;
        top: -45%;
        left: 50%;
        button{
            margin: 15px;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: 2px solid $muted;
            color: $muted;
        }
    }
}

@media (max-width:992px){
    .team{
        .tns-controls{
            position: absolute;
            top: -70%;
            left: 80%;
            button{
                margin: 15px;
                border-radius: 50px;
                width: 40px;
                height: 40px;
                background-color: transparent;
                border: 2px solid $muted;
                color: $muted;
            }
        }
    }
}


body[data-layout-mode='dark'] {
    .team{
        background-color: $gray-dark-200 !important;

        .card{
            h6{
                color: $dark;
            }
            p{
                color: $success !important;
            }
        }
        
    }
}