// 
// testi.scss
// 


.testimonial {
    .testi-slider {
        .testi-box {
            border: 1px solid rgba($muted, 0.2);
            border-radius: 20px;

            .tab-image {
                position: relative;

                .avatar-xl {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-40px, 20px);
                }
            }
        }
    }

    .tns-controls {
        position: absolute;
        top: 20px;
        right: 0;

        button {
            margin: 20px;
            background-color: transparent;
            height: 40px;
            width: 40px;
            border-radius: 50px;
            border: 2px solid rgba($muted, 0.5);
            color: rgba($muted, 0.5);
        }
    }

    #testi-slider-iw {
        margin: 0px -17px 0px 5px;
    }

}

body[data-layout-mode='dark'] {
    .testimonial {
        background-color: $body-dark-bg !important;

        .testi-box {
            border: 1px solid rgba($muted, 0.5);
            border-radius: 20px;
        }

       
    }

    .tns-controls{
        button{
            border: 2px solid rgba($white, 0.5) !important;
            color: rgba($white, 0.5) !important;
        }
    }
}