// 
// profile.scss
// 


.profile {
    .menu,
    .like {
        height: 36px;
        width: 36px;
        line-height: 36px;
        // box-shadow: 0px 3px 10px 0px rgb(14 106 199 / 30%);
        text-align: center;
        border-radius: 50%;
        border: 1px solid rgba($muted, 0.2);
        background-color: $white;
    }

    .details-box {
        background-color: $white;
        border-radius: 20px;
        padding: 20px;

        .facebook,
        .message,
        .whatsapp {
            .avatar-xs {
                text-align: center;
                line-height: 2rem;
                border-radius: 50px;

            }
        }
    }

    .nav-item {
        margin: 0 10px;

        button {
            border-radius: 20px;
            background-color: $white;
            color: $dark;
            box-shadow: $box-shadow-lg;

            &.active,
            &.show {
                background-color: $dark;
            }
        }
    }

    .tab-box {
        background-color: $white;
        border-radius: 10px;
        transition: all .4s cubic-bezier(.4, 0, .2, 1);

        .card-image {
            border-radius: 10px;
            overflow: hidden;

            img {
                border-radius: 10px;
                transition: all .4s cubic-bezier(.4, 0, .2, 1);
            }
        }

        .body-content {
            p {
                font-weight: 500;
                font-size: 14px;
            }
        }

        &:hover {
            .card-image {
                overflow: hidden;

                img {
                    transform: scale(1.2);
                    transition: all .4s cubic-bezier(.4, 0, .2, 1);
                }
            }
        }

        &:hover {
            transform: scale(1.02);
            box-shadow: $box-shadow-lg;
        }

        .slider-content-image {
            .avatar-xs {
                img {
                    border-radius: 50px;
                    border: 4px solid $white;
                }
            }

            .top-child {
                position: relative;
                margin-left: -15px;
            }
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: $box-shadow-lg;
        }
    }

    .blog {
        .collection-items {
            .blog-box {
                .collection-image {
                    padding: 20px;
                    background-color: $white;
                    border-radius: 20px;

                    .blog-image {
                        border-radius: 20px;
                        overflow: hidden;

                        .top-image {
                            img {
                                width: 31%;
                                height: 100%;
                            }
                        }
                    }
                }

                .collection-content {
                    padding: 0 20px;

                    .collection-title {
                        a {
                            color: $dark;
                            transition: all 0.5s;

                            &:hover {
                                color: $primary;
                            }
                        }
                    }

                    .collection-like-icon {
                        p {
                            color: rgba($muted, 0.7);

                            a {
                                color: rgba($muted, 0.7);
                                position: absolute;
                                right: 80px;
                                transition: all 0.5s;

                            }


                        }
                    }
                }
            }

            &:hover,
            &:focus {
                .collection-like-icon {
                    a {
                        font-size: 18px;
                        color: $danger !important;
                    }
                }
            }
        }
    }
}



body[data-layout-mode='dark'] {
    .profile{
        background-color: $body-dark-bg !important;
        .collection-image{
            background-color: $gray-dark-100 !important;
        }
        .blog{
            background-color: $body-dark-bg !important;
            .collection-title{
                a{
                    color: $white !important;
                    &:hover{
                        color: $primary !important;
                    }
                }
            }
        }


        .details-box{
            background-color: $gray-dark-100 !important;    
        }
        .tab-box{
            background-color: $gray-dark-100 !important;
            .badge{
                color: $dark !important;
            }
        }
    }
}