// 
// addres-info
// 


.home{
    .info-box{
        padding: 20px;
        border-radius: 20px;
        background-color: $white;

        .form-control{
            border-radius: 15px !important;
            padding: 18px ;
            &:focus{
                border: 1px solid $primary !important;
                box-shadow: none !important;
            }
        }
    }
}

.activity{
    .activity-box{
        background-color: $white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: $box-shadow;
    }
}

body[data-layout-mode="dark"] {
    
}